mat-toolbar {
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;

  button {
    mat-icon {
      margin-right: 8px;
    }

    &.active {
      background-color: #1976d2;
      color: white;
    }
  }
}

